{{extend 'layout.html'}}
        <link href="{{=URL('static', 'css/aboutstyle.css')}}" rel="stylesheet" />
        <main>
            <div class="container-fluid px-4">
                <h1 style="color: black">About Us</h1>
                <br>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <h2>Ebuka Ojiba</h2>
                            <div class="card-body">
                                <img src="{{=URL('static','images/ebuka.jpg')}}" style="height: 200px; float: left; padding: 20px;" class="img">
                                <p style="text-align: center; padding-top: 20px; margin: 10px;">Energetic full-stack web developer.
Information Technology Specialist in Databases, HTML/CSS, JavaScript and Python. Proficient in the development and deployment of fast, scalable, secure and portable database-driven web-based applications using Web2PY full-stack web framework.
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4 ">
                            <h2>Craig Dansby East</h2>
                            <div class="card-body">
                                <img src="{{=URL('static','images/craig.jpg')}}" style="height: 200px; float: right; padding: 20px;" class="img">
                                <p style="text-align: center; padding-top: 20px; margin: 10px;">I am a part of the Cleveland Codes Software Developers Academy cohort 13. My experience is with HTML/CSS, JavaScript, Python, and databases. My goal is to enter IT field and further both my career and education.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <h2>Deon Kidd</h2>
                            <div class="card-body">
                                <img src="{{=URL('static','images/deon.jpg')}}" style="height: 200px; float: left; border: 40px; padding: 20px;" class="img">
                                <p style="text-align: center; margin: 30px;">Creative Web Developer with experience in HTML/CSS, JavaScript, Python, and Databases. Received an Associate Degree in Electrical Engineering with a concentration in Comupter Hardware Networking from Cuyahoga Community College . Currently completing The Cleveland Codes Software Development Academy Program, also from Cuyahoga Community College. Other experince includes UI Design (Figma, Adobe XD), GitHub, and Web2Py.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <h2>David Hegedus</h2>
                            <div class="card-body">
                                <img src="{{=URL('static','images/david.jpg')}}" style="height: 200px; float: right; padding: 20px;" class="img">
                                <p style="text-align: center; margin: 30px;">A Creative, Knowledgeable Mechanical/Electrical Engineer with a strong background in Engineering Mechanics, Electrical Engineering and Biomechanics, as well as experience in control systems, manufacturing automation, and instrumentation has recently graduated from the Thirteenth Cohort of the Cleveland Code Academy with certifications in HTML/CSS, JavaScript, PHP, Python, MySQL Databases.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div style="height:6vh;"></div>
