{{extend 'layout.html'}}
<table style="width:100vw;">
    <tr>
        <td style="width:10%;">
            <div>
                <form action="{{=URL("list")}}">
                    <select name="table_name">
                        <option value="company">Company</option>
                        <option>People</option>
                        <option>Event</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
        </td>
        <td style="width:90%;">
            {{=grid}}
        </td>
    </tr>
</table>
